// SASS variables
$accentDark: #457B9D;
$accentLight: #8fc1d4;
$highlight: #c68b59;
$dark: #865439;
$light: #FCDEC0;

// Override bootstrap styles here. 
// See https://getbootstrap.com/docs/4.0/getting-started/theming/#theme-colors for some pointers
$primary: $accentDark;
$danger: $highlight;
$secondary: $accentLight;
$warning: #414016;
$info: $accentLight;
$success: #459d49;